
.box {
	background: #f4511e;
	padding: 30px; 
}

.box-small { 
	margin-left: -20px;
	margin-right: -20px;
}

.button-wrapper {
	margin: 10px 0; 
	position: relative; 
}

.button {
	background: #1b1817;
    border: none;
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 0;
    cursor: pointer;
    border-radius: 100%; 
    width: 80px;
    height: 80px;
    line-height: 80px;
    -webkit-transition: All 0.2s ease; 
    	-o-transition: All 0.2s ease;
    	transition: All 0.2s ease;
	outline: none;
	display: inline-block;
}


.button:hover {
	background: #1b1817 !important;
}

.button-container {
	margin-bottom: 80px; 
	padding: 0 20px; 
}


.dropdown-content {
    position: absolute; 
    opacity: 100;
    background-color: #1b1817;
    line-height: 1;
    padding: 8px 16px;
    border-radius: 5px; 
    font-family: 'Calibri Light', sans-serif;
    left: 100px;
    top: 24px;
    font-size: 16px;
    -webkit-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

.arrow-icon {
	display: none;
	position: absolute;
	width: 22px;
	height: 14px;
	top: -14px;
	left: 59px; 
	background: url(../img/arrow-top.png ) no-repeat bottom center;
}

.box h3 {
	font-size: 22px;
	color: #fff;
	font-family: Calibri;
	margin-bottom: 40px;
}

.box p {
	font-size: 18px;
	color: #fff;
	font-family: 'Calibri Light';
	/*letter-spacing: 1px;*/
	text-align: justify;
	line-height: 20px;
}

#index-button {
	margin-top: 35px;
	height: 40px;
	padding: 0 10px;
	line-height: 40px;
	color: #f4511e;
	border: 1px solid #fff;
	font-family: Calibri;
	font-size: 18px;
	background: #fff;
	outline: none;
	cursor: pointer;
	-webkit-transition: All 0.2s ease;
    	-o-transition: All 0.2s ease;
    	transition: All 0.2s ease;	

}

#index-button:hover {
	background: #f4511e;
	color: #fff;
}


.cover {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}

.modal {
	position: absolute;
	left: 0;
	opacity: 0;
	height: 0;
	overflow: hidden;
	padding-top: 0;
	width: 100%;
	z-index: 3;
	-webkit-transition: All .2s ease;
	-o-transition: All .2s ease;
	transition: All .2s ease;
	top: 0;
}

.modal.visible {
	opacity: 1;
	overflow: initial;
	padding-top: 100px;
	height: auto;
}

.white {
    background: #fefefe;
    padding-bottom: 30px;
}

.modal-title {
	height: 40px;
	line-height: 40px;
	background: #f4511e;
}

.modal-title h3 {
	font-size: 20px;
	color: #fff;
	font-family: 'Calibri Light';
	float: left;
	font-weight: bold;
}

.modal-close {
	float: right;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}

.modal .row {
	padding: 0px 20px;
}

 input[type=text] {
    width: calc(100% - 40px);
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    margin: 5px 0px;
    border: 1px solid #f4511E;
    outline: none; 
    -webkit-transition: All .2s ease;
    -o-transition: All .2s ease;
    transition: All .2s ease;
    color: #fff;
    font-family: Calibri;
    font-size: 16px;
    background: #f4511E;
    float: left;
}

input:focus {
    color: #f4511E;
    background: #fff;
}


.modal .row p {
	margin-top: 20px;
	color: #f4511E;
	font-family: 'Calibri';
	font-size: 16px;
}

#submit-button {
    border: none;
    background: #5c2716;   
    text-align: center;
    display: block;
    font-size: 18px;
    color: white;
    top: 5px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: All .2s ease;
    -webkit-transition: All .2s ease;
    -o-transition: All .2s ease;
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

#submit-button:hover {
	background: #1B1817;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    height: 100px;
    line-height: 1;
    margin: 5px 0px;
    border: 1px solid #f4511E;
    outline: none;
    -webkit-transition: All .2s ease;
    -o-transition: All .2s ease;
    transition: All .2s ease;
    color: #fff;
    font-family: Calibri;
    font-size: 16px;
    background: #f4511E;
    float: left;
}

textarea:focus {
    color: #f4511E;
    background: #fff;
}

#index-send-button {
	margin-top: 30px;
	height: 40px;
	padding: 0 20px;
	line-height: 40px;
	color: #fff;
	border: 1px solid #fff;
	font-family: Calibri;
	font-size: 18px;
	background: #5c2716;  
	outline: none;
	cursor: pointer;
	-webkit-transition: All 0.2s ease;
    	-o-transition: All 0.2s ease;
    	transition: All 0.2s ease;	
    border: none;
    display: inline-block;
    text-decoration: none;
}

#index-send-button:hover {
	background: #1B1817;
}

.showthis {
    width: 100%;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    margin: 5px 0px;
    border: 1px solid #f4511E;
    outline: none;
    -webkit-transition: All .2s ease;
    -o-transition: All .2s ease;
    transition: All .2s ease;
    color: #fff;
    font-family: Calibri;
    font-size: 16px;
    background: #f4511E;
    float: left;
}

.showthis:focus {
    color: #f4511E;
    background: #fff;
}

.clearinput {
    width: 100%;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    margin: 5px 0px;
    border: 1px solid #f4511E;
    outline: none;
    -webkit-transition: All .2s ease;
    -o-transition: All .2s ease;
    transition: All .2s ease;
    color: #fff;
    font-family: Calibri;
    font-size: 16px;
    background: #f4511E;
    float: left;
}

.clearinput:focus {
    color: #f4511E;
    background: #fff;
}

#index-contact-button {
	margin-top: 30px;
	height: 40px;
	padding: 0 20px;
	line-height: 40px;
	color: #fff;
	border: 1px solid #fff;
	font-family: Calibri;
	font-size: 18px;
	background: #5c2716;  
	outline: none;
	cursor: pointer;
	-webkit-transition: All 0.2s ease;
    	-o-transition: All 0.2s ease;
    	transition: All 0.2s ease;	
    border: none;
    display: inline-block;
    text-decoration: none;
}

#index-contact-button:hover {
	background: #1B1817;
}