input#address-keyword{
	height: 36px;
	width: 100%;
	background: #c8481f;
	color: #fff;
	font-family: 'Calibri Light';
	border: none;
	outline: none;
	font-size: 16px;
	line-height: 36px;
}


.input-trigger{
	left: -36px;
	-webkit-transition: All .2s ease;
	-o-transition: All .2s ease;
	transition: All .2s ease;
	height: 36px;
	width: 36px;
	background: #c8481f;
	color: #fff;
	line-height: 36px;
	text-align: center;
	font-size: 18px;
	position: absolute;
	top: 0;
	cursor: pointer;
}
.input-trigger.visible{
	left: 0;
}
.wrapper{
	position: absolute;
	top: 60px;
	left: 0;
	width: 136px;
	opacity: .8;
	z-index: 1;
	background: url('../img/searchBarGradient.png') repeat-y;
	background-position-x: 36px; 
	-webkit-transition: All .2s ease;
	-o-transition: All .2s ease;
	transition: All .2s ease;
}
.wrapper .container{
	position: relative;
	left: -100%;
	opacity: 0;
}
.wrapper.input-visible{
	opacity: 1;
	width: 100%;
	background: #c8481f;
}
.wrapper.input-visible .container{
	left: 0;
	opacity: 100;
}

header{
	height: 60px;
}

.nav-menu ul.nav{
	margin: 60px 0 0 -172px;
}

.logo{
	height: 60px;
	line-height: 60px;
}
.logo img{
	height: 40px;
}

.nav-menu .nav-trigger{
	width: 28px;
	height: 28px;
	line-height: 28px;
	margin: 16px 0;
	font-size: 12px;
}
.nav-menu ul li a{
	font-size: 14px;
}

@media (min-width: 960px){
	.nav-menu ul.nav > li, .nav-menu ul li.hasSub > span{
		height: 60px !important;
		line-height: 60px !important;
	}
	.nav-menu ul.sub-nav {
		margin: 60px 0 0 -172px !important;
	}

}


#map-container{
	position: absolute;
	height: calc(100% - 80px);
	top: 60px;
	left: 0;
	width: 100%;
}
footer{
	position: absolute;
	bottom: 0;
	height: 20px;
	font-size: 12px;
	background: #f4511e;
	width: 100%;

}
.bottom-nav-menu ul li{
	cursor: pointer;
	float: left;
	padding: 0 10px;
	height: 20px;
	line-height: 20px;
	-webkit-transition: All .2s ease;
	-o-transition: All .2s ease;
	transition: All .2s ease;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.bottom-nav-menu ul li.tab-selected{
	background: #5c2716 !important;
}

.bottom-nav-menu ul li:hover{
	background: #c8481f;
}

.tabs{
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
}
.tab#tab-legend p.row{
	height: 20px;
	line-height: 20px;
	margin: 5px 0;
}
.tab#tab-legend span.icon{
	display: block;
	float: left;
	margin-right: 10px;
	height: 20px;
	width: 20px;
}
.tab#tab-legend span.content{
	display: block;
	height: 20px;
	line-height: 20px;
}
.tab#tab-legend span.icon img{
	align-content: center;
	height: 20px;

}
.tab-content{
	background: #f4511e;
	padding: 20px;
	color: #fff;
	font-family: 'Calibri Light', sans-serif;
}
.tab-content p.tab-title{
	font-size: 18px;
	margin-bottom: -4px;
	/* font-weight: bold; */
}
.tab-content p.tab-info{
	font-size: 14px;

	text-align: justify;
}
.tabs .tab{
	position: relative;
	height: 0;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: All .2s ease;
	-o-transition: All .2s ease;
	transition: All .2s ease;
}
.tabs .tab.tab-visible{
	height: auto;
	overflow: initial;
	opacity: 100;
}
.pac-container{
	background: #f4511e;
	font-size: 13px;
	font-family: 'Calibri Light', sans-serif;
	background-image: none;
	border: none;
}
.pac-item{
	color: #fff;
	border: none;
	font-size: 13px;
	-webkit-transition: All .2s ease;
	-o-transition: All .2s ease;
	transition: All .2s ease;
}
.pac-item:hover{
	background: #c8481f;
}

.pac-icon{
	display: none;
}
.pac-item-query{
	font-family: 'Calibri Light';
	color: #fff;
}
.pac-matched{
	font-weight: bold;
}

.tab#tab-layers .section{
	padding: 10px 0;
	border-bottom: 1px solid #c8481f;
}
.tab#tab-layers .section:last-child{
	border: none;
}


.cover {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal {
	pointer-events: none;
    position: absolute;
    left: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding-top: 0;
    width: 100%;
    z-index: 3;
    -webkit-transition: All .2s ease;
    -o-transition: All .2s ease;
    transition: All .2s ease;
    top: 0;
}

.modal *{
	pointer-events: auto;
}

.modal.visible {
    opacity: 1;
    overflow: initial;
    padding-top: 100px;
    padding-bottom: 100px;
    height: auto;
}

.white {
    background: #fefefe;
    padding-bottom: 30px;
}

.modal-title {
    height: 40px;
    line-height: 40px;
    background: #f4511e;
}

.modal-title h3 {
    font-size: 20px;
    color: #fff;
    font-family: 'Calibri Light';
    float: left;
    font-weight: bold;
}

.modal-close {
    float: right;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.modal .row {
    padding: 0px 20px;
}

.modal .row p {
    margin-top: 20px;
    color: #f4511E;
    font-family: 'Calibri';
    font-size: 16px;
}

#submit-button {
    border: none;
    background: #5c2716;
    text-align: center;
    display: block;
    padding: 0 10px;
    color: white;
    top: 5px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: All .2s ease;
    -webkit-transition: All .2s ease;
    -o-transition: All .2s ease;
    /* float: left; */
    height: 40px;
    line-height: 40px;
}

#submit-button:hover {
    background: #1B1817;
}

.modal textarea {
    width: 100%;
    padding: 12px 20px;
    height: 100px;
    line-height: 1;
    margin: 5px 0px;
    border: 1px solid #f4511E;
    outline: none;
    -webkit-transition: All .2s ease;
    -o-transition: All .2s ease;
    transition: All .2s ease;
    color: #fff;
    font-family: Calibri;
    font-size: 16px;
    background: #f4511E;
    float: left;
    max-width: 100%;
    min-width: 100%;
}

.modal input[type=text], .modal input[type=number]{
	width: 100%;
    padding: 12px 20px;
    margin: 5px 0px;
    border: 1px solid #f4511E;
    outline: none;
    -webkit-transition: All .2s ease;
    -o-transition: All .2s ease;
    transition: All .2s ease;
    color: #fff;
    font-family: Calibri;
    font-size: 16px;
    background: #f4511E;
}

select{
	width: 100%;
    padding: 12px 20px;
    line-height: 1;
    margin: 5px 0px;
    border: 1px solid #f4511E;
    outline: none;
    -webkit-transition: All .2s ease;
    -o-transition: All .2s ease;
    transition: All .2s ease;
    color: #fff;
    font-family: Calibri;
    font-size: 16px;
    background: #f4511E;
}

select option{
	width: 100%;
	height: 30px;
	line-height: 30px;
	outline: none;
	background: #f4511E !important;
}

.modal textarea:focus, .modal input:focus{
    color: #f4511E;
    background: #fff;
}

#map-cover{
	width: 100%;
	height: calc(100% - 60px);
	position: absolute;
	background: rgba(0, 0, 0, .5);
	display: none;
}

.col12{
	padding: 0;
}
span.location-icon{
	padding-right: 10px;
	color: #f4511E;
}

.modal .row p#event-location{
	margin-top: 20px;
}
.modal .row p.subtitle{
	color: #999;
	font-size: 14px;
	margin-bottom: 0;
}
.modal .row p.event-content{
	font-size: 18px;
	margin-top: 0;
}
.modal .row p#toggle-route-container{
	margin-bottom: -10px;
}
.modal .row p#toggle-route-container a#toggle-route{
	color: #f4511E;
	text-decoration: none;
}
.modal#view-event .feedback-votes{
	padding-top: 20px;
}
.modal#view-event .up-col, .modal#view-event .down-col{
	float: left;
	text-align: center;
	border: none;
	outline: none;
	background: transparent;
	width: 50%;
	display: inline-block;
	font-size: 18px;
	font-family: Calibri, sans-serif;
}
.modal#view-event button.up-col, .modal#view-event button.down-col{
	-webkit-transition: All .2s ease;
	-o-transition: All .2s ease;
	transition: All .2s ease;
	cursor: pointer;
}
.modal#view-event button.up-col:hover, .modal#view-event button.down-col:hover{
	cursor: pointer;
	background: #ededed;
}

.modal#view-event .up-col{
	color: #f4511E;
}
.modal#view-event .down-col{
	color: #777;
}
.modal#view-event .fb-bar-container{
	line-height: 5px;
	margin-top: 0;
	padding-top: 0;
}
.modal#view-event .fb-bar *{
	height: 2px;
	float: left;
}
.modal#view-event .fb-bar .up-bar{
	background: #f4511e;
	width: 67%;
}
.modal#view-event .fb-bar .down-bar{
	background: #999;
	width: 33%;
}
.modal#view-event .fb-bar{
	margin-top: 0;
	padding: 0;
	width: 100%;
	height: 2px;
	background: #f4511e;
	display: inline-block;
}
.modal#view-event{
	font-family: Calibri, sans-serif;
}
.modal#view-event #comments-container{
	margin-top: 20px;
}
.modal#view-event #comments-container .row{
	padding: 0;
	margin: 0;
}
.modal#view-event .av-container{
	border-radius: 100%;
	width: 32px;
	color: #777;
	text-align: center;
	float: left;
	line-height:32px;
	height: 32px;
	background: #ddd;
}
.modal#view-event #comments-container .comment{
	margin-top: 10px;
	position: relative;
}
.modal#view-event #coments-container .comment:first-child{
	margin-top: 0;
}
.modal#view-event #comments-container .user-name{
	padding: 0 10px;
	margin-right: 5px;
	 font-weight: bold; 
	color: #f4511e;
	border-radius: 10px;
	float: left;
	background: #efefef;
}
.modal#view-event .right-side{
	border-left: 1px solid #eee;
	padding-left: 5px;
}
.modal#view-event #comments-container .comment-content{
	margin: 0;
	padding: 0;
	color: #555;
}
.modal#view-event #comments-container .comment-date{
	font-size: 13px;
	font-style: italic;
	color: #999;
	margin-top: 5px;
	text-align: left;
	padding: 0;
}
.modal#view-event #comments-container .remove-comment{
	float: right;
	border: none;
	position: absolute;
	outline: none;
	background: #fff;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	border-radius:100%;
	-webkit-box-shadow: 0 0 0 1px #999;
	box-shadow: 0 0 0 1px #999;
	cursor: pointer;
	font-size: 16px;
	color: #777;
	top: 0;
	left: 0;
	/* display: none; */
}
.modal#view-event #add-comment {
	border-top: 1px solid #eee;
	padding-top: 5px;
	margin-top: 5px;
}
.modal#view-event #add-comment textarea{
	height: 32px;
	min-height: 32px;
	overflow: hidden;
	padding: 5px 10px;
	margin: 0;
}
.modal#view-event #add-comment-button{
	width: 100%;
	height: 32px;
	cursor: pointer;
	border: none;
	outline: none;
	text-align: center;
	line-height: 32px;
	border: 1px solid #f4511e;
	border-left: none;
	background: #fff;
	color: #f4511e;
	-webkit-transition: All .2s ease;
	-o-transition: All .2s ease;
	transition: All .2s ease;
}
.modal#view-event #add-comment-button:hover{
	background: #f4511e;
	color: #fff;
}
.modals-container{
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	display: none;
}
.modal#view-event .poster-name{
	color: #fff;
	margin-top: 5px;
	padding: 5px 10px 5px 5px;
	border-radius: 10px 25px 25px 10px;
	background: #f4511e;
	display: inline-block;
	font-size: 14px;
}
.modal#view-event .poster-address{
	color: #656565;
	font-size: 12px;
}
span#remove-event {
    float: left;
    margin-left: 5px;
    color: #fff;
    cursor: pointer;
    line-height: 40px;
}
.second-cover {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}
.second-cover #confirm-button, .second-cover .popup-close{
	height: 32px;
	background: #f4511e;
	color: #fff;
	line-height: 32px;
	padding: 0 30px;
	cursor: pointer;
	-webkit-transition: All .2s ease;
	-o-transition: All .2s ease;
	transition: All .2s ease;
	border: 1px solid #f4511e;
	font-family: Calibri, sans-serif;
}
.second-cover #confirm-button{
	float: left;
}
.second-cover .buttons-container{
	padding-top: 20px;
}
.second-cover .popup-close{
	float: right;
}
.second-cover #confirm-button:hover, .second-cover .popup-close:hover{
	background: #fff;
	color: #f4511e;
}
