@media(min-width: 480px){
	.container{
		width:80%;
		padding-left: 0;
		padding-right: 0;

	}

	.tabs{
		left: 10%;
		width: 80%;
	}

	#map{
		margin-left: 0;
		margin-right: 0;
		
	}
}


@media (min-width: 740px){
	.col4{
		width: 33%;

	}
	.col8{
		width: 67%;
	}

	.box-small{
		width: 450px;
		margin-left: auto;
		margin-right: auto;
	}

	.button-container {
		padding: 0;
	}

	.box-medium{
		width: 550px;
		margin-left: auto;
		margin-right: auto;
	}	
	.align-left{
    	
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.button-wrapper{
		float: left;
	}
	.dropdown-content{
		width: 140px;
    	left: -30px;
    	top: 115px;
    	opacity: 0;
	}
	.arrow-icon{
		display: block;
	}
	.button:hover .dropdown-content {
		top: 105px;
		opacity: 100;
	}

	.button{
		margin:0 33px;

		background: #5c2716;
		position: relative;
	}
}


@media (min-width: 960px){
	.nav-menu ul{
		display: block;
		opacity: 100;
		position: relative;
		width: auto;
		height: auto;
		margin: 0 ;
	}
	.nav-menu ul li{
		height: 140px;
		padding: 0 20px;
		line-height: 140px;
		float: left;
	}
	.nav-menu .nav-trigger{
		display: none;
	}

	
	.col6{
		width: 50%;
	}

}
