@media(min-width: 480px){
	.container{
		width:80%;
		padding-left: 0;
		padding-right: 0;

	}

	.tabs{
		left: 10%;
		width: 80%;
	}

	#map{
		margin-left: 0;
		margin-right: 0;
	}
}


@media (min-width: 740px){
	.col4{
		width: 33%;

	}
	.col8{
		width: 67%;
	}

	.box-small{
		width: 740px;
		margin-left: auto;
		margin-right: auto;
	}

	
	.button-container {
		padding: 0;
	}

	.box-medium{
		width: 550px;
		margin-left: auto;
		margin-right: auto;
	}	
	.align-left{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	
	.button-wrapper{
		float: left;
	}
	

	.dropdown-content{
		width: 140px;
    	left: -30px;
    	top: 115px;
    	opacity: 0;
	}

	.arrow-icon{
		display: block;
	}

	
	.button:hover .dropdown-content {
		top: 105px;
		opacity: 100;
	}

	.button{
		margin:0 33px;
		background: #5c2716;
		position: relative;
	}
}


@media (min-width: 960px){
	.hidden-large{
		display: none;
	}
	.visible-large{
		display: block;
	}
	.nav-menu ul.sub-nav{
		border-top: 10px solid #c8481f;
		display: none;
		opacity: 0;
		-webkit-transition: All .2s ease;
		-o-transition: All .2s ease;
		transition: All .2s ease;
		position: absolute;
		right: 0;
		background: #f4511e;
		z-index: 3;
		margin: 100px 0 0 -140px;
		width: 200px;
	}
	.nav-menu ul.sub-nav.visible{
		opacity: 100;
		display: block;
	}
	.nav-menu ul.nav{
		display: block;
		opacity: 100;
		border-top: none;
		position: relative;
		width: auto;
		height: auto;
		margin: 0;
	}
	.nav-menu ul.nav > li, .nav-menu ul.nav li.hasSub > span{
		height: 140px;
		cursor: pointer;
		padding: 0 20px;
		line-height: 140px;
		float: left;
	}
	.nav-menu ul.nav li.hasSub{
		height: auto;
	}
	.nav-menu .nav-trigger{
		display: none;
	}
	.nav-menu ul li.hasSub:hover{
		background: #c8481f;
	}
	
	.col6{
		width: 50%;
	}

}
