.cover {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal {
	pointer-events: none;
    position: absolute;
    left: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding-top: 0;
    width: 100%;
    z-index: 3;
    -webkit-transition: All .2s ease;
    -o-transition: All .2s ease;
    transition: All .2s ease;
    top: 0;
}

.modal *{
	pointer-events: auto;
}

.modal.visible {
    opacity: 1;
    overflow: initial;
    padding-top: 100px;
    padding-bottom: 100px;
    height: auto;
}

.white {
    background: #fefefe;
    position: relative;
    padding-bottom: 30px;
}

.modal-title {
    height: 40px;
    line-height: 40px;
    background: #f4511e;
}

.modal-title h3 {
    font-size: 20px;
    color: #fff;
    font-family: 'Calibri Light';
    float: left;
    font-weight: bold;
}

.modal-close {
    float: right;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.modal .row {
    padding: 0px 20px;
}

.modal .row p {
    margin-top: 20px;
    color: #f4511E;
    font-family: 'Calibri';
    font-size: 16px;
}
#submit-button {
    border: none;
    background: #5c2716;   
    text-align: center;
    display: block;
    font-size: 18px;
    color: white;
    top: 5px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: All .2s ease;
    -webkit-transition: All .2s ease;
    -o-transition: All .2s ease;
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

#submit-button:hover {
	background: #1B1817;
}


#submit-button:hover {
    background: #1B1817;
}

.modal textarea {
    width: 100%;
    padding: 12px 20px;
    height: 100px;
    line-height: 1;
    margin: 5px 0px;
    border: 1px solid #f4511E;
    outline: none;
    -webkit-transition: All .2s ease;
    -o-transition: All .2s ease;
    transition: All .2s ease;
    color: #fff;
    font-family: Calibri;
    font-size: 16px;
    background: #f4511E;
    float: left;
    max-width: 100%;
    min-width: 100%;
}

.modal input[type=text], .modal input[type=number]{
	width: 100%;
    padding: 12px 20px;
    margin: 5px 0px;
    border: 1px solid #f4511E;
    outline: none;
    -webkit-transition: All .2s ease;
    -o-transition: All .2s ease;
    transition: All .2s ease;
    color: #fff;
    font-family: Calibri;
    font-size: 16px;
    background: #f4511E;
}

select{
	width: 100%;
    padding: 12px 20px;
    line-height: 1;
    margin: 5px 0px;
    border: 1px solid #f4511E;
    outline: none;
    -webkit-transition: All .2s ease;
    -o-transition: All .2s ease;
    transition: All .2s ease;
    color: #fff;
    font-family: Calibri;
    font-size: 16px;
    background: #f4511E;
}

select option{
	width: 100%;
	height: 30px;
	line-height: 30px;
	outline: none;
	background: #f4511E !important;
}

.modal textarea:focus, .modal input:focus{
    color: #f4511E;
    background: #fff;
}

#map-cover{
	width: 100%;
	height: calc(100% - 60px);
	position: absolute;
	background: rgba(0, 0, 0, .5);
	display: none;
}

.col12{
	padding: 0;
}
span.location-icon{
	padding-right: 10px;
	color: #f4511E;
}

.modal .row p#event-location{
	margin-top: 20px;
}
.modal .row p.subtitle{
	color: #999;
	font-size: 14px;
	margin-bottom: 0;
}
.modal .row p.event-content{
	font-size: 18px;
	margin-top: 0;
}
.modal .row p#toggle-route-container{
	margin-bottom: -10px;
}
.modal .row p#toggle-route-container a#toggle-route{
	color: #f4511E;
	text-decoration: none;
}
.modal#view-event .feedback-votes{
	padding-top: 20px;
}
.modal#view-event .up-col, .modal#view-event .down-col{
	float: left;
	text-align: center;
	border: none;
	outline: none;
	background: transparent;
	width: 50%;
	display: inline-block;
	font-size: 18px;
	font-family: Calibri, sans-serif;
}
.modal#view-event button.up-col, .modal#view-event button.down-col{
	-webkit-transition: All .2s ease;
	-o-transition: All .2s ease;
	transition: All .2s ease;
	cursor: pointer;
}
.modal#view-event button.up-col:hover, .modal#view-event button.down-col:hover{
	cursor: pointer;
	background: #ededed;
}

.modal#view-event .up-col{
	color: #f4511E;
}
.modal#view-event .down-col{
	color: #777;
}
.modal#view-event .fb-bar-container{
	line-height: 5px;
	margin-top: 0;
	padding-top: 0;
}
.modal#view-event .fb-bar *{
	height: 2px;
	float: left;
}
.modal#view-event .fb-bar .up-bar{
	background: #f4511e;
	width: 67%;
}
.modal#view-event .fb-bar .down-bar{
	background: #999;
	width: 33%;
}
.modal#view-event .fb-bar{
	margin-top: 0;
	padding: 0;
	width: 100%;
	height: 2px;
	background: #f4511e;
	display: inline-block;
}
.modal#view-event{
	font-family: Calibri, sans-serif;
}
.modal#view-event #comments-container{
	margin-top: 20px;
}
.modal#view-event #comments-container .row{
	padding: 0;
	margin: 0;
}
.modal#view-event .av-container{
	border-radius: 100%;
	width: 32px;
	color: #777;
	text-align: center;
	float: left;
	line-height:32px;
	height: 32px;
	background: #ddd;
}
.modal#view-event #comments-container .comment{
	margin-top: 10px;
	position: relative;
}
.modal#view-event #coments-container .comment:first-child{
	margin-top: 0;
}
.modal#view-event #comments-container .user-name{
	padding: 0 10px;
	margin-right: 5px;
	 font-weight: bold; 
	color: #f4511e;
	border-radius: 10px;
	float: left;
	background: #efefef;
}
.modal#view-event .right-side{
	border-left: 1px solid #eee;
	padding-left: 5px;
}
.modal#view-event #comments-container .comment-content{
	margin: 0;
	padding: 0;
	color: #555;
}
.modal#view-event #comments-container .comment-date{
	font-size: 13px;
	font-style: italic;
	color: #999;
	margin-top: 5px;
	text-align: left;
	padding: 0;
}
.modal#view-event #comments-container .remove-comment{
	float: right;
	border: none;
	position: absolute;
	outline: none;
	background: #fff;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	border-radius:100%;
	-webkit-box-shadow: 0 0 0 1px #999;
	box-shadow: 0 0 0 1px #999;
	cursor: pointer;
	font-size: 16px;
	color: #777;
	top: 0;
	left: 0;
	/* display: none; */
}
.modal#view-event #add-comment {
	border-top: 1px solid #eee;
	padding-top: 5px;
	margin-top: 5px;
}
.modal#view-event #add-comment textarea{
	height: 32px;
	min-height: 32px;
	overflow: hidden;
	padding: 5px 10px;
	margin: 0;
}
.modal#view-event #add-comment-button{
	width: 100%;
	height: 32px;
	cursor: pointer;
	border: none;
	outline: none;
	text-align: center;
	line-height: 32px;
	border: 1px solid #f4511e;
	border-left: none;
	background: #fff;
	color: #f4511e;
	-webkit-transition: All .2s ease;
	-o-transition: All .2s ease;
	transition: All .2s ease;
}
.modal#view-event #add-comment-button:hover{
	background: #f4511e;
	color: #fff;
}
.modals-container{
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	display: none;
}
.modal#view-event .poster-name{
	color: #fff;
	position: relative;
	margin-top: 5px;
	padding: 5px 10px 5px 5px;
	border-radius: 10px 25px 25px 10px;
	background: #f4511e;
	display: inline-block;
	font-size: 14px;
	z-index: 1;
}
.modal#view-event .poster-name i{
	font-size: 10px;
	position: relative;
	top: -1px;
}
.modal#view-event .poster-name i:last-child{
	margin-right: 8px;
}
.modal#view-event .poster-name i:last-child:after{
	content:"|";
	font-size: 13px;
	position: relative;
	left: 3px;
	top: -1px;
}
.modal#view-event .poster-name i.fix-half-star{
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
	margin-left: -1.25em;
}
.modal#view-event .pressed{
	background: #eee;
}

.modal#view-event .poster-address{
	color: #656565;
	font-size: 12px;
}
.modal#view-event .post-date{
	padding: 6px 10px 6px 15px;
	background: #dddddd;
	margin-left: -15px;
	color: #5f5f5f;
	letter-spacing: 1px;
	position: relative;
	border-radius: 0 25px 25px 0;
	z-index: 0;
	font-size: 12px;
	margin-top: 5px;
	display: inline-block;
}
span#remove-event {
    float: left;
    margin-left: 5px;
    color: #fff;
    cursor: pointer;
    line-height: 40px;
}
.second-cover {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}
.second-cover #confirm-button, .second-cover .popup-close{
	height: 32px;
	background: #f4511e;
	color: #fff;
	line-height: 32px;
	padding: 0 30px;
	cursor: pointer;
	-webkit-transition: All .2s ease;
	-o-transition: All .2s ease;
	transition: All .2s ease;
	border: 1px solid #f4511e;
	font-family: Calibri, sans-serif;
}
.second-cover #confirm-button{
	float: left;
}
.second-cover .buttons-container{
	padding-top: 20px;
}
.second-cover .popup-close{
	float: right;
}
.second-cover #confirm-button:hover, .second-cover .popup-close:hover{
	background: #fff;
	color: #f4511e;
}
.modal .preloader{
	position: absolute;
	w100%:;
	text-align: center;
	margin-top: 40px;
	width: 100%;
	height: calc(100% - 40px);
	font-size: 26px;
	z-index: 2;
	display: none;
	background: #fff;
	padding: calc(50% - 26px) 0;
}
.modal .search-users-suggest{
	max-height: 300px;
	overflow-y: auto;
	margin-top: -5px;
	position: absolute;
	width: calc(100% - 40px);
	background: #fff;
}
.modal .search-users-suggest .user{
	-webkit-transition: All .2s ease;
	-o-transition: All .2s ease;
	transition: All .2s ease;
	height: 30px;
	line-height: 30px;
	padding: 0 20px;
	border-bottom: 1px solid #eee;
	color: #454545;
	cursor: pointer;
	font-family: Calibri, sans-serif;
}
.modal .search-users-suggest .user:hover{
	color: #333;
	background: #efefef;
}
.modal .search-users-suggest .user-location{
	margin-left: 15px;
	font-style: italic;
	font-size: 12px;
}
.modal#search input[type=text]{
	width: calc(100% - 40px);
	height: 40px;
	float: left;
}
.modal#search #user-search-info{
	color: #454545;
	font-family: Calibri, sans-serif;
}
.modal#search #user-search-info .user-date, .modal#search #user-search-info .user-address{
	font-size: 16px;
	/* height: 18px; */
	padding-left: 127px;
	line-height: 18px;
	margin-top: 5px;
}
.modal#search #user-search-info .user-date:before, .modal#search #user-search-info .user-address:before{
	content: "Ultima activitate la:";
	float:left;
	margin-left: -127px;
	font-size: 13px;
	background: #f4511e;
	color: #fff;
	border-radius: 10px;
	padding: 0 10px;
}
.modal#search #user-search-info .user-address:before{
	content: "Adresa înregistrată:";
}
.modal#search #posted-search-info .row{
	font-family: Calibri, sans-serif;
	padding: 10px 0;
	border-bottom: 1px solid #efefef;
}
.modal#search #posted-search-info .row:last-child{
	padding-bottom: 0;
	border-bottom: 0;
}
.modal#search #posted-search-info .poster-name{
	padding: 0 10px;
	margin-right: 5px;
	font-weight: bold;
	color: #f4511e;
	border-radius: 10px;
	float: left;
	background: #efefef;
}
.modal#search #posted-search-info .posted-details{
	color: #555;
	font-size: 16px;
	margin-bottom: 10px;
}
.modal#search #posted-search-info .posted-address, .modal#search #posted-search-info .posted-date{
	color: #777;
	font-size: 12px;
	font-style: italic;
	margin-top: 5px;
}
.modal#search #posted-search-info .posted-address:before, .modal#search #posted-search-info .posted-date:before{
	content: "Adresa oferită:";
	background: #fff;
	color: #f4511f;
	/* border-left: 1px solid #f4511f; */
	padding: 0 3px;
	/* font-weight: bold; */
	margin-right: 5px;
	/* border-radius: 20px; */
}
.modal#search #posted-search-info .posted-date:before{
	content: "Data postării:";
}
.modal .info{
	color: #555;
	/* display: inline-block; */
	background: #ffffad;
	padding: 10px 20px;
	font-family: Calibri, sans-serif;
}