@import url(fontawesome-all.min.css);
@import url(reset.css);

.container{
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
	padding: 0 20px;
}
header{
	height: 140px;
	background: #f4511e;
}

.logo{
	height: 140px;
	line-height: 140px;
}

.prompt-container{
	opacity: 0;
	-webkit-transition: All .2s ease;
	-o-transition: All .2s ease;
	transition: All .2s ease;
	position: absolute;
	z-index:4;
	bottom: 25px;
	width: calc(100% - 40px);
	left: 20px;
	color: #fff;
	background: rgba(0, 0, 0, .75);
	padding: 10px 20px;
	font-family: Calibri, sans-serif;
}
.prompt-container.err{
	border-left: 10px solid #f4511e;
}
.prompt-container.succ{
	border-left: 10px solid #fff;
}
.prompt-container.succ .prompt-icon{
	color: #fff;
}
.prompt-container.err .prompt-icon{
	color: #f4511e;
}
.prompt-container.visible{
	opacity: 100;
}
.prompt-icon{
	float: left;
	font-size: 20px;
	margin-right: 10px;
}
.col1{
	float: left;
	width: 10%;
}
.col11{
	float: left;
	width: 90%;
}
.col2{
	float: left;
	width: 16%;
}
.col4{
    width: 33%;
    float: left;
    padding: 30px
}
.col10{
	float: left;
	width: 80%;
}
.col8{
    width: 67%;
    float: left;
    padding: 30px;
}

.col3{
	float: left;
	width: 25%;
}
.col9{
	float: left;
	width: 75%;
}
.col6{
    float: left;
    width: 50%;
}

.col12{
    width: 100%;
    padding: 20px;
}


.logo img{
	vertical-align: middle;
}
.nav-menu ul.nav{
	border-top: 10px solid #c8481f;
	-webkit-transition: All .2s ease;
	-o-transition: All .2s ease;
	transition: All .2s ease;
	display: none;
	overflow: visible;
	height: 0px;
	opacity: 0;
	position: absolute;
	z-index: 2;
	margin: 100px 0 0 -140px;
	width: 200px;
	background: #f4511e;
}

.nav-menu ul.nav.visible{
	display: block;
	height: auto;
	overflow: visible;
	opacity: 100;
}
.nav-menu ul.nav li{
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	-webkit-transition: All .2s ease;
	-o-transition: All .2s ease;
	transition: All .2s ease;
}
.nav-menu ul.nav > li.hasSub{
	height: auto;
	padding: 0;
	background: #f4511e;
}
.nav-menu ul.nav li.hasSub > span{
	color: #fff;
	font-family: Calibri;
}
.nav-menu ul.nav li.hasSub.expanded > span {
	background: #c8481f;
}
.nav-menu ul.nav li  a{
	font-family: Calibri;
	display: inline-block;
	text-decoration: none;
	color: #fff;
}
.nav-menu ul.nav li#username{
	font-family: Calibri;
	background: #f4511e;
	height: auto;
	padding: 0;
	text-align: center;
	color: #ddd;
}

.visible-large{
	display: none;
}

.nav-menu ul.nav li#username span {
    font-size: 18px;
    background: rgba(255, 255, 255, 1.4);
    font-weight: bold;
    width: 90%;
    display: inline-block;
	height: 25px;
	line-height: 25px;
    margin: 5px 0 20px 0;
    text-align: center;
    color: #5c2716;
    border-radius: 10px;
}
.nav-menu ul.nav li i{
	margin-right: 5px;
}
.nav-menu ul li.selected, .nav-menu ul li.selected:hover {
	background: #5c2716;
}
.nav-menu ul li:hover{
	background: #c8481f;
}
.nav-menu .nav-trigger{
	-webkit-transition: All .2s ease;
	-o-transition: All .2s ease;
	transition: All .2s ease;
	width: 60px;
	height: 60px;
	cursor: pointer;
	line-height: 60px;
	text-align: center;
	margin: 40px 0;
	/*-webkit-box-shadow: 0 0 0 1px  rgba(255, 255, 255, 1);*/
	/*border-radius: 5px;*/
	font-size: 20px;
	background: #c8481f;
	/*box-shadow: 0 0 0 1px  rgba(255, 255, 255, 1);*/
	color: #fff;
}
.nav-menu .nav-trigger.triggered{
	color: #f4511e;
	background: #fff;
}

footer{
	background: #5c2716;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 14px;
	font-family: Calibri;
}


section#content{
	background: #fe6f42 url('../img/background.png') no-repeat top center;
	background-size: cover;
}
section#content .gradient-bg{
	background: url('../img/gradient.png') top left repeat-x;
	padding-top: 80px;
}